# Matlab figures
*.fig
!flight-controllers/controlAndDataGui/*.fig
!flight-controllers/wind-tunnel-control/src/static-gui/*.fig

# Matlab temp files
*.asv

# GIFs
*.gif

# PNGs
*.png

# SVGs
*.svg

# MP4s
*.mp4