# Matlab figures
*.fig
!flight-controllers/controlAndDataGui/*.fig
!flight-controllers/wind-tunnel-control/src/static-gui/*.fig

# Matlab temp files
*.asv

# numpy dataset
*.npy

# GIFs
*.gif

# JPEGs
*.jpg

# PNGs
*.png

# SVGs
*.svg

# MP4s
*.mp4

# Pycache
*.pyc
